body{
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    box-sizing: border-box;
}

/* CSS */

/* Style the header class */
.header-class {
    font-size: 16px ;
    background-color: #1F2937;
    padding:30px;
    height: 300px;

}

/* Style the navigation */
.flex-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Style the logo */
.logo {
    color: white; /* Change text color as needed */
    text-decoration: none;
    font-size: 24px; /* Adjust font size as needed */
}

.logo:hover {
    text-decoration: underline; /* Underline the logo on hover */
}

/* Style the navigation links */
.flex-container2 {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.flex-container2 li {
    margin-right: 20px; /* Adjust spacing between navigation items as needed */
}

.flex-container2 li:last-child {
    margin-right: 0; /* Remove margin from the last navigation item */
}

.flex-container2 li a {
    color: white; /* Change text color as needed */
    text-decoration: none;
    font-size: 18px; /* Adjust font size as needed */
}

.flex-container2 li a:hover {
    text-decoration: underline; /* Underline the navigation links on hover */
}

.random-info{
    text-align: center;
    margin: 0;
    padding: 0;
}

.random-info h2{
    font-size: 36px;
    color: #1F2937;
}

.image-seperation{
    display: flex;
    padding: 40px;
    margin: 30px;
    justify-content: space-around;
    align-items: center;
}

.quote-page{
    background-color: #e5e7eb;
    width: 100%;
    height: 200px;
    position: relative;
}

.quote-page h2{
    text-align: center;
    font-style: italic;
    font-weight: 100;
    padding: 30px;
    position: absolute;
}

.quote-page h3{
    position: absolute;
    bottom: 30px;
    right: 40px;
}

/* .header-class {
    font-size: 16px ;
    background-color: #1F2937;
    padding:30px;
    width: 100%;
    height: 300px;
}

.flex-container{
    display: flex;
    justify-content: space-between;
    width: 100%;
    border: 4px solid brown;
    flex-direction: column;
  } */

/* .flex-container ul{
    background: peachpuff;
    height: 100px;

} */


/* 
.logo{
    align-content: flex-end;
   
    align-items: right;
} 

nav ul {
    list-style: none;
    width: 100%;
    text-align: right;
    margin: 0px;
}

nav ul li {
    display: inline-block;
    margin: 10px 20px;
    color: #fff;
}


nav ul li a {
    text-decoration: none;
    color: #fff;
}



.footering{
    align-items: center;
    background-color: #1F2937;
    color: white;
    padding: 10px;
    font-size: 13px;
    text-align: center;
    font-style: 'Arial', sans-serif ;
    height: 100px;
}   */